.row{
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
}

.col{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    border: dotted 1px;
}
img{
    width: 90%;
    height: 90%;
}

